
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
}

header {
    width: 100%;
    background-image: url("images/Object.png"); 
    background-size: cover;
    background-position: center;
    padding: 40px 80px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav .logo img {
    height: 40px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}


.hero {
    text-align: center;
    color: white;
    padding-bottom: 120px; 

.hero h1 {
    font-size: 80px;      
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;      
    margin-bottom: 40px;
    font-weight: 400;
}

.hero button {
    background-color: #C271FF; 
       border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero button:hover {
    background-color: #a742ff;
}


.quote {
    background-color: #C271FF; 
    padding: 80px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quote img {
    width: 160px;    
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.quote blockquote {
    font-size: 22px;      
    font-weight: 400;
    line-height: 1.5;
    max-width: 500px;
    font-style: italic;
}

.quote p {
    font-size: 20px;      
    font-weight: 700;
    margin-top: 10px;
}